.home-header {
    position: fixed;
    height: 100px;
    width: 100%;
    background: #eee;
    border-bottom: gainsboro solid 2px;
    z-index: 2;
}

.view-passwords {
    display: flex;
    justify-content: start;
    height: auto;
}

.passwords-page {
    margin-top: 100px;
    width: 30%;
    min-height: 84vh;
    border-right: gainsboro solid 1px;
    z-index: 1;
}

.password-display {
    left: 30%;
    position: fixed;
    margin-top: 100px;
    width: 70%;
    min-height: 84vh;
}

#title-holder:hover {
    color: #422d2d;
    background-color: rgba(211, 211, 211, 0.5);
}

#title-holder {
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
    color: black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-bottom: darkgrey 1px solid;
}

.username, .password, .website-name {
    font-size: 22px;
    font-weight: initial;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 0 0 20px;
}

#Password, #Username, #website-name {
    width: 40%;
    padding: 10px;
    border: none;
    background-color: white;
}

#Username-edit, #Password-edit {
    width: 40%;
    padding: 10px;
    border: #272a34 solid 2px;
    background-color: rgba(192, 192, 196, 0.5);
}

#password-view  {
    display: flex;
}


.details-view-form {
   margin-left: 40px;
    margin-top: 40px;
}
#view, #edit, #delete {
    background-color: transparent;
    border: none;
}

#edit, #delete {
    color: #282b34;
    font-weight: bolder;
    font-size: 20px;
    font-family: Cantarell, ui-monospace;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
}

#edit:hover, #delete:hover{
    background-color: rgba(192, 192, 192, 0.8);
}

.edit-delete {
    display: flex;
    justify-content: center;
}