

#Page {
   display: flex;
    align-items: center;
    justify-content: space-between;
 /*  padding: 10px;
   margin: 0;*/
  /*  background-color:aqua;*/
   /* width: 100%;
    height: 100%;*/
    /*margin-top: 100px;*/
}

.words {
    flex: 1;
    padding-right: 20px;
    width: 50%;
    height: 100%;
  /*  margin-top: 100px;*/
    /*background-color: gold;*/
}

.head {
    font-size: 28px;
    color: #282c34;
    margin-bottom: 20px;
    font-weight: 700;
}

.sub-head{
    font-size: 20px;
    color:#808080 ;
    align-items: center;
    margin-left: 150px;
    font-weight: 700;
}

.span-1{
    display: block;

}

.image {
    flex: 1;
    text-align: center;
    margin-top: 150px;
    width: 60%;
    height: 100%;

}

img {
    max-width:100%;
    height: 100%;


}
@media screen  and (min-width:1306px ){
    #Page{
        width: 100%;
        display: flex;
    }

    .head {
        font-size: 35px;
        margin-left: 150px;

    }
    .sub-head{
        font-size: 24px;
        margin-left: 300px;
    }
    .words2{
        display: none;
    }


}
@media screen  and (max-width:1306px ) {
    #Page {
        width: 100%;
        display: flex;
    }

    .head {
        font-size: 25px;
        margin-left: 150px;

    }

    .sub-head {
        font-size: 18px;
        margin-left: 300px;
    }
    .words2{
        display: none;
    }

}
@media screen  and (max-width:1201px ) {
    #Page {
        width: 100%;
        display: flex;
    }

    .head {
        font-size: 25px;
        margin-left: 70px;

    }

    .sub-head {
        font-size: 18px;
        margin-left: 200px;
    }
    .words2{
        display: none;
    }


}

    @media screen  and (max-width:1040px ){

    .image {
        width: 500px;
        height: 350px;
    }
    .words{
        width: 60%;
    }

    .head {
        font-size: 20px;
        margin-left: 90px;

    }
    .sub-head{
        margin-left: 150px;
        font-size: 16px;
    }
        .words2{
            display: none;
        }




    }
@media screen  and (max-width:768px ){

    #Page{
        display: flow;
    }


    .image{
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
   /* .img {
        width:600px;
        height: 350px;
    }*/
    .words{
        display: none;
       /* width: 100%;
        height: 50%;*/
      /*  background-color: gold;*/
    }
    .head {
        font-size: 25px;


    }
    .sub-head{
        margin-left: 200px;
        font-size: 16px;
    }
    .words2{
        display: flow;
    }


}
@media screen  and (max-width:500px ){
    #Page{
        display: flow;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 100%;
    }
    .words{
        width: 100%;
        background-color: gold;
       /* margin-top: 100px;*/
    }

    .head {
        font-size: 20px;
        margin-left: 50px;
        /*margin-top: 200px;*/


    }
    .sub-head{
        margin-left: 150px;
        font-size: 16px;
    }



}
@media screen  and (max-width: 446px){

    .head {
        font-size: 20px;
        margin-left: 20px;
    }

}
@media screen  and (max-width: 417px){

    .head {
        font-size: 18px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .sub-head{
        margin-left: 150px;
        font-size: 14px;
    }


}
@media screen  and (max-width: 381px){
    .Home{
        height: auto;
    }

    .head {
        font-size: 16px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .sub-head{
        margin-left: 150px;
        font-size: 10px;
    }


}
@media screen  and (max-width: 347px){

    .head {
        font-size: 14px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .sub-head{
        margin-left: 150px;
        font-size: 9px;
    }


}
@media screen  and (max-width: 238px){


    .sub-head{
        margin-left: 70px;
        font-size: 9px;
    }


}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    border-radius: 4px;
    margin-left: 150px;
}

.btn:hover {
    background-color: #45a049;
}


