

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.content {
    flex: 1;
    padding-right: 20px;
}

h1 {
    font-size: 25px;
    color: #333;
    margin-bottom: 24px;
}

h2 {
    font-size: 20px;
    color: #555;
}

h2 span {
    display: block;
}

.image {
    flex: 1;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
