.Login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.login-form{
    width: 25%;
    padding: 15px 20px;
    border: #808080 solid 1px;
    border-radius: 20px;
}

.login-title {
    display: flex;
    justify-content: center;
    font-size: 150%;
    width: 100%;
    height: 100%;
    align-items: center;
}
button{
    margin-top: 20px;
    padding: 0;
}
.name,  .password {
    margin: 15px;
    font-size: 130%;
}
.passwords{
    margin-top: 20px;
}
@media screen and (max-width: 875px) {
    .login-form {
        width: 40%;
    }
}

@media screen and (max-width: 380px) {
    .login-form{
        width: 40%;
    }

}
@media screen and (max-width: 355px) {
    .login-form{
        width: 40%;
    }

}

