.nav{
    height: 60px;
    position: sticky;
    top: 0;
    background-color: gold;

}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul li {
    list-style: none;
    margin-top: 10px;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 8px;
    margin:  0 8px;
    border-radius: 8px;
}
.sign{
    margin-right: -1000px;
}
.login{
    margin-right: 20px;
}