
/*.nav{
    height: 50px;
    position: sticky;
    top: 0;



}

nav ul{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;


}
nav ul li  {
    list-style: none;
    margin-top: 10px;

}
nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 8px;
    margin:  0 8px;
    border-radius: 8px;
}
.sign{
grid-column: 4/5;
    margin-left: 0;
}
.login{
grid-column: 5/5;

}*/

.nav {
    background-color: aqua;
}

.home, .home-md {
    display: flex;
    justify-content: start;
    height: 100%;
    width: 100%;
    background-color: gold;
}

.home-icon {
    width: 30%;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
}

@media screen and (max-width: 768px){
    .home-md {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .home {
        display: none;
    }
}
