.Registration-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.h1{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.name{
    font-size: 20px;


}
input{
    margin-bottom: 15px;
    font-size: 16px;
    padding: 10px 7px;
    width: 90%;
    border-radius: 5px;
    outline: none;
}
button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 7px 10px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.submit:hover {
    background: lawngreen;
}


@media screen and (max-width: 455px) {
    .Registration-form {
    }

}
